html,body
{
margin:0;
padding:0;
}
#plain{
background-color: #d7ccc8;
position: absolute;

font-size: 18px;
width:100%;
}
#add-info{
position: absolute;
left: 450px;
top: 150px;
}
#edit-info{
position: absolute;
left: 750px;
top: 150px;
}
#view-info{
position: absolute;
left: 625px;
top: 350px;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: #0000FF;
}
a:active {
  color: blue;
}