body{
margin: 0;
background-color: lightyellow;
}
h1{

  font-weight: 350;
  text-align: center;
  margin:0;
}
#head1{
background-color: #DCDCDC;
margin:0;
padding: 7px 0px 7px 0px;
color:red;
}
h2{
  color: purple;
  font-weight: 250;
  text-align: center;
  margin:0;
}